//definimos variables

//colores
$mainColor: rgba(127, 255, 212, .6) ;
$secondaryColor: url(../img/depositphotos_517281962-stock-video-animation-of-spots-of-lights.jpg);
$tercerColor: rgb(12, 9, 10);
//sizing
$w-100:100%;
$w-50:50%;
$w-25:25%
 

