@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@1,300&display=swap');  
html{
    font-size: 62.5%;
}
$fontMain: 'Bebas Neue', cursive;
$fontSecondary: 'Roboto', sans-serif;

//variables para los textos
    $textXl:4rem;
    $textLg:3rem;
    $textMd:2rem;        